body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a55416;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#reveal-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#reveal-button:hover {
    background-color: #555;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .profile-content {
        flex-direction: row;
    }
}

.profile-card {
    background-color: #222;
    color: white;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    margin-right: 20px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #fff;
    margin-bottom: 10px;
}

.profile-info {
    margin-top: 10px;
}

.username {
    margin: 0;
    font-size: 1.6em;
}

.status {
    margin: 0;
    font-size: 0.8em;
    color: #ddd;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .social-icons {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
}

.social-button {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
}

.social-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.social-button::before {
    content: attr(data-name);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.social-button:hover::before {
    opacity: 1;
}